.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background-color: #4ca771;
  color: #fff;
}
p {
  font-family: 'Michroma';
  text-align: center;
  align-items: center;
}
.front {
  width: 150px;
  height: 150px;
}
.back {
  width: 150px;
  height: 150px;
}
.memo-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}