
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto&display=swap');

body {
  font-family: 'Michroma';
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #013237;
  color: #fff;
}